@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
body,
html {
  height: 100%;
  margin: 0;
}

.h-screen {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex: 1;
}

.max-w-7xl {
  max-width: 80rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bg-gray-900 {
  background-color: #1f2937;
}

.text-white {
  color: #ffffff;
}

.footer-section {
  flex: 1;
  margin: 0 10px;
}

.footer-section h2 {
  margin-bottom: 0.5rem;
}

.footer-section a:hover {
  text-decoration: underline;
}

footer {
  background-color: #1f2937;
  color: white;
  padding: 1rem;
  text-align: center;
}

footer button {
  background: none;
  border: none;
  color: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

footer button:hover {
  color: #ffffff;
}

footer button:focus {
  outline: none;
}
