<!-- Componente de la barra de navegación -->
<app-navbar></app-navbar>
<div class="flex justify-center">
  <div
    class="grid grid-cols-1 gap-4 pb-40 w-full max-w-4xl overflow-y-auto max-h-screen [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
    <div class="bg-white p-6 rounded-lg shadow-lg flex items-center justify-between mb-8"
      *ngFor="let detalle_pedido of detalle_pedidos">
      <div class="flex-1">
        <h2 class="text-lg font-semibold text-gray-900">Detalles del pedido</h2>
        <p class="text-gray-600">
          Producto:{{this.getProducto(detalle_pedido.id_producto)}}
        </p>
        <p class="text-black">Indicaciones:{{detalle_pedido.indicaciones}}</p>
        <p class="text-black">Cantidad:{{detalle_pedido.cantidad}}</p>
      </div>
    </div>
  </div>

  <div id="map" class="w-full lg:w-1/2 h-97 bg-gray-200 rounded shadow">
    <app-mapa-pedidos [repartidorBoolean]="repartidor" [address]="address"> </app-mapa-pedidos>
  </div>
</div>