<!-- Header con botones de navegación opcional -->
<app-header></app-header>

<div class="pt-20 max-h-screen overflow-y-auto">
  <!-- Main Content -->
  <main class="container mx-auto px-4 py-8">
    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-3xl font-bold mb-4 text-center text-gray-800">
        Política de Privacidad
      </h2>
      <p class="text-gray-600 mb-6 text-center">
        Última actualización: 18 de noviembre de 2024
      </p>

      <!-- Introducción -->
      <section class="mb-8">
        <h3 class="text-xl font-semibold mb-2">Introducción</h3>
        <p class="text-gray-700 leading-relaxed">
          En FoodCart, respetamos y protegemos la privacidad de nuestros
          usuarios. Esta política de privacidad describe cómo recopilamos,
          usamos y protegemos tu información personal.
        </p>
      </section>

      <!-- Información que recopilamos -->
      <section class="mb-8">
        <h3 class="text-xl font-semibold mb-2">Información que recopilamos</h3>
        <ul class="list-disc list-inside text-gray-700 leading-relaxed">
          <li>
            Información personal como nombre, correo electrónico y número de
            teléfono.
          </li>
          <li>Datos de uso, como tu dirección IP y las páginas que visitas.</li>
          <li>Cookies para mejorar tu experiencia en nuestro sitio web.</li>
        </ul>
      </section>

      <!-- Cómo usamos tu información -->
      <section class="mb-8">
        <h3 class="text-xl font-semibold mb-2">Cómo usamos tu información</h3>
        <ul class="list-disc list-inside text-gray-700 leading-relaxed">
          <li>Proveer servicios y soporte técnico.</li>
          <li>Personalizar tu experiencia en nuestro sitio.</li>
          <li>Enviar actualizaciones y ofertas promocionales.</li>
        </ul>
      </section>

      <!-- Derechos del usuario -->
      <section>
        <h3 class="text-xl font-semibold mb-2">Tus derechos</h3>
        <p class="text-gray-700 leading-relaxed">
          Tienes derecho a acceder, corregir o eliminar tu información personal.
          Para ejercer estos derechos, contáctanos en
          <a
            href="mailto:soporte@foodcart.com"
            class="text-blue-600 hover:underline"
            >soporte&#64;foodcart.com</a
          >.
        </p>
      </section>
    </div>
  </main>
  <!-- Footer -->
  <app-footer></app-footer>
</div>
