<app-navbar
  (searchValueChange)="actualizarFiltroDeProductos($event)"
></app-navbar>
<div class="min-h-screen bg-gray-900">
  <main class="bg-gray-900 max-w-7xl mx-auto p-6">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <div
        class="bg-white p-4 rounded-lg shadow-md"
        *ngFor="let producto of productosFiltrados"
      >
        <!--<img
          [src]="producto.foto"
          alt="Product Image"
          class="w-full h-48 object-cover rounded-md"
        />-->
        <h2 class="mt-2 text-lg font-semibold text-gray-800">
          {{ producto.nombre }}
        </h2>
        <p class="mt-1 text-gray-600">{{ producto.descripcion }}</p>
        <div class="mt-3 flex justify-between items-center">
          <span class="text-xl font-bold text-gray-900"
            >${{ producto.precio_unidad }}</span
          >
          <div class="space-x-2" *ngIf="authService.isAdmin()">
            <button
              [routerLink]="['/productos/editar', producto.id_producto]"
              class="bg-orange-500 text-white px-3 py-2 rounded-md hover:bg-orange-700 [text-shadow:_0_1px_0_rgb(0_0_0_/_40%)]"
            >
              <img
                NgOptimizedImage
                ngSrc="assets/edit-icon.png"
                alt="Icono"
                class="w-5 h-5"
                width="20"
                height="20"
              />
            </button>
            <button
              (click)="confirmarEliminacion(producto.id_producto.toString())"
              class="bg-red-700 text-white px-3 py-2 rounded-md hover:bg-red-900 [text-shadow:_0_1px_0_rgb(0_0_0_/_40%)]"
            >
              <img
                NgOptimizedImage
                ngSrc="assets/delete-icon.png"
                alt="Icono"
                class="w-5 h-5"
                width="20"
                height="20"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
