<app-navbar></app-navbar>
<div class="min-h-screen bg-gray-900">
  <main class="bg-gray-900 max-w-7xl mx-auto p-6">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <div
        class="bg-white p-4 rounded-lg shadow-md"
        *ngFor="let producto of productosFiltrados"
      >
        <h2 class="mt-2 text-lg font-semibold text-gray-800">
          {{ producto.nombre }}
        </h2>
        <p class="mt-1 text-gray-600">{{ producto.descripcion }}</p>
        <div class="mt-3 flex justify-between items-center">
          <span class="text-xl font-bold text-gray-900"
            >${{ producto.precio_unidad }}</span
          >
          <button
            class="bg-blue-600 text-white px-3 py-1 rounded-md hover:bg-blue-700"
            (click)="agregarAlCarrito(producto)"
          >
            Agregar al Carrito
          </button>
        </div>
      </div>
    </div>
  </main>
</div>
