<div class="min-h-screen flex flex-col bg-gray-900">
  <app-navbar></app-navbar>
  <main class="flex-grow">
    <section class="bg-gray-900 text-white py-12">
      <div class="container mx-auto px-6">
        <h1 class="text-4xl font-bold mb-6 border-b-2 border-gray-700 pb-2">
          Sobre Nosotros
        </h1>
        <p class="mb-8 text-lg leading-relaxed">
          Bienvenido a FoodCart, tu fuente número uno para todo lo relacionado
          con alimentos. Nos dedicamos a brindarte lo mejor de los deleites
          culinarios, con un énfasis en la calidad, el servicio al cliente y la
          singularidad.
        </p>
        <p class="mb-8 text-lg leading-relaxed">
          ¿Te encanta ordenar comida en línea desde nuestro restaurante? Utiliza
          esta aplicación para personalizar tu experiencia y beneficiarte de la
          forma más fácil y rápida de pedir tu comida favorita. Aquí en
          FoodCart, hemos desarrollado una serie de características que hacen
          que tu experiencia de pedido sea inigualable:
        </p>
        <ul class="list-disc ml-8 mb-8 text-lg leading-relaxed">
          <li class="mb-2">
            Pedidos de alimentos en línea optimizados: Nuestra plataforma está
            diseñada para ofrecerte la mejor experiencia de pedido desde la
            pagina web o dispositivo móvil, ahorrándote tiempo y esfuerzo.
          </li>
          <li class="mb-2">
            Detalles de pago precargados: Simplificamos el proceso de pago para
            que puedas realizar tu pedido con solo unos pocos clics.
          </li>
          <li class="mb-2">
            Gestión de direcciones: Guarda varias direcciones y elige tu
            favorita al momento de pagar, facilitando tus pedidos recurrentes.
          </li>
          <li class="mb-2">
            Confirmación en tiempo real: Recibe una confirmación inmediata de tu
            pedido por parte de nuestro personal, con el tiempo estimado de
            entrega. Sin intermediarios, sin centro de llamadas confuso, sin
            promesas excesivas. Esto es solo entre tú y el restaurante.
          </li>
        </ul>
        <p class="mt-4 text-lg leading-relaxed">
          Esperamos que disfrutes de nuestros productos tanto como nosotros
          disfrutamos ofreciéndotelos. Si tienes alguna pregunta o comentario,
          no dudes en ponerte en contacto con nosotros.
        </p>
        <p class="mt-2 text-lg leading-relaxed">Atentamente,</p>
        <p class="mt-1 text-lg leading-relaxed">El equipo de FoodCart</p>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>
