#map {
  width: 100%; // Define que el mapa ocupe el 100% del ancho del contenedor
  height: 100%; // Define que el mapa ocupe el 100% de la altura del contenedor
  border-radius: 4px; // Agrega un borde redondeado de 4 píxeles al mapa
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Añade una sombra al mapa para dar efecto de elevación
}
