<section class="bg-slate-800 min-h-screen flex items-center justify-center">
  <!-- Contenedor del formulario -->
  <div
    class="bg-gray-100 flex flex-col md:flex-row rounded-2xl shadow-lg max-w-3xl p-5 max-h-[90vh] overflow-auto"
  >
    <!-- Formulario de restablecimiento de contraseña -->
    <div class="w-full px-8">
      <h2 class="font-bold text-2xl text-slate-800 text-center">
        Restablecer Contraseña
      </h2>
      <form
        id="resetPasswordForm"
        class="flex flex-col gap-4"
        #resetPasswordForm="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- Contraseña Actual -->
        <div class="flex flex-col">
          <label class="mt-5" for="currentPassword">Contraseña Actual</label>
          <input
            type="password"
            name="currentPassword"
            id="currentPassword"
            class="p-2 rounded-xl border w-full"
            placeholder="Contraseña Actual"
            required
            [(ngModel)]="user.currentPassword"
            #currentPasswordCntrl="ngModel"
            [ngClass]="{
              'border-red-500 bg-red-50': currentPasswordCntrl.invalid && currentPasswordCntrl.touched,
              'border-gray-300': !currentPasswordCntrl.touched,
              'border-green-500 bg-green-50': currentPasswordCntrl.valid && currentPasswordCntrl.touched
            }"
          />
          <label
            *ngIf="currentPasswordCntrl.errors?.['required'] && currentPasswordCntrl.touched"
            for="currentPassword"
            class="text-red-500 text-sm"
          >
            Debe ingresar su contraseña actual.
          </label>
        </div>

        <!-- Nueva Contraseña -->
        <div class="flex flex-col">
          <label class="mt-5" for="newPassword">Nueva Contraseña</label>
          <input
            type="password"
            name="newPassword"
            id="newPassword"
            class="p-2 rounded-xl border w-full"
            placeholder="Nueva Contraseña"
            required
            [(ngModel)]="user.newPassword"
            #newPasswordCntrl="ngModel"
            [ngClass]="{
              'border-red-500 bg-red-50': newPasswordCntrl.invalid && newPasswordCntrl.touched,
              'border-gray-300': !newPasswordCntrl.touched,
              'border-green-500 bg-green-50': newPasswordCntrl.valid && newPasswordCntrl.touched
            }"
          />
          <label
            *ngIf="newPasswordCntrl.errors?.['required'] && newPasswordCntrl.touched"
            for="newPassword"
            class="text-red-500 text-sm"
          >
            Debe ingresar una nueva contraseña.
          </label>
        </div>

        <!-- Repetir Nueva Contraseña -->
        <div class="flex flex-col">
          <label class="mt-5" for="confirmPassword"
            >Repetir Nueva Contraseña</label
          >
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            class="p-2 rounded-xl border w-full"
            placeholder="Repetir Nueva Contraseña"
            required
            [(ngModel)]="user.confirmPassword"
            #confirmPasswordCntrl="ngModel"
            [ngClass]="{
              'border-red-500 bg-red-50': confirmPasswordCntrl.invalid && confirmPasswordCntrl.touched,
              'border-gray-300': !confirmPasswordCntrl.touched,
              'border-green-500 bg-green-50': confirmPasswordCntrl.valid && confirmPasswordCntrl.touched
            }"
          />
          <label
            *ngIf="confirmPasswordCntrl.errors?.['required'] && confirmPasswordCntrl.touched"
            for="confirmPassword"
            class="text-red-500 text-sm"
          >
            Debe repetir su nueva contraseña.
          </label>
          <label
            *ngIf="user.newPassword !== user.confirmPassword && confirmPasswordCntrl.touched"
            for="confirmPassword"
            class="text-red-500 text-sm"
          >
            Las contraseñas no coinciden.
          </label>
        </div>

        <!-- Botón de Restablecer Contraseña -->
        <button
          type="submit"
          class="bg-slate-800 rounded-xl text-white py-2 hover:scale-110 duration-300"
          [disabled]="resetPasswordForm.invalid"
        >
          Restablecer Contraseña
        </button>
      </form>
    </div>
  </div>
</section>
