<section class="bg-gray-50 min-h-screen flex items-center justify-center">
  <!-- Contenedor del login -->
  <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5">
    <!-- Aca va el form -->
    <div class="px-8">
      <h2 class="font-bold text-2xl text-slate-800 text-center">Registro</h2>
      <form
        id="formlogin"
        (ngSubmit)="this.onSubmit()"
        class="flex flex-col gap-4"
        #formlogin="ngForm"
      >
        <label class="mt-5">Email</label>
        <input
          type="text"
          name="email"
          id="email"
          class="p-2 rounded-xl border w-full"
          placeholder="emifrangab@hotmail.uy"
          email
          required
          [(ngModel)]="this.email"
          #emailCntrl="ngModel"
          [ngClass]="{
              'border-red-500 bg-red-50': emailCntrl.invalid && emailCntrl.touched,
              'border-gray-300': !emailCntrl.touched,
              'border-green-500 bg-green-50': emailCntrl.valid && emailCntrl.touched,
            }"
        />
        <label
          *ngIf="emailCntrl.errors?.['required'] && emailCntrl.touched"
          for="email"
          class="text-red-500 text-sm"
          >Tiene que colocar el email.</label
        >
        <label
          *ngIf="emailCntrl.errors?.['email']"
          for="email"
          class="text-red-500 text-sm"
          >Tiene que colocar un email valido.</label
        >
        <input
          type="password"
          name="contraseña"
          id="contraseña"
          placeholder="Contraseña"
          class="p-2 mt-2 rounded-xl border"
          minlength="5"
          maxlength="20"
          required
          [(ngModel)]="this.password"
          #passControl="ngModel"
          [ngClass]="{
              'border-red-500 bg-red-50' : passControl.invalid && passControl.touched,
              'border-gray-300' : !passControl.touched,
              'border-green-500 bg-green-50' : passControl.valid && passControl.touched
            }"
        />
        <label
          *ngIf="passControl.errors?.['required'] && passControl.touched"
          class="text-red-500 text-sm"
          >Necesita ingresar su contraseña</label
        >
        <label
          *ngIf="passControl.errors?.['minlength'] && passControl.touched"
          class="text-red-500 text-sm"
          >Su contraseña debe ser más larga</label
        >
        <label
          *ngIf="passControl.errors?.['maxlength'] && passControl.touched"
          class="text-red-500 text-sm"
          >Su contraseña debe ser más corta</label
        >
        <input
          type="text"
          name="contraseña"
          id="contraseña"
          placeholder="Contraseña"
          class="p-2 mt-2 rounded-xl border"
          minlength="5"
          maxlength="20"
          required
          [(ngModel)]="this.password"
          #passControl="ngModel"
          [ngClass]="{
            'border-red-500 bg-red-50' : passControl.invalid && passControl.touched,
            'border-gray-300' : !passControl.touched,
            'border-green-500 bg-green-50' : passControl.valid && passControl.touched
          }"
        />
        <label
          *ngIf="passControl.errors?.['required'] && passControl.touched"
          class="text-red-500 text-sm"
          >Necesita ingresar su contraseña</label
        >
        <label
          *ngIf="passControl.errors?.['minlength'] && passControl.touched"
          class="text-red-500 text-sm"
          >Su contraseña debe ser más larga</label
        >
        <label
          *ngIf="passControl.errors?.['maxlength'] && passControl.touched"
          class="text-red-500 text-sm"
          >Su contraseña debe ser más corta</label
        >

        <button
          type="submit"
          [disabled]="formlogin.invalid"
          id="boton"
          class="bg-slate-800 rounded-xl text-white py-2 hover:scale-110 duration-300"
        >
          Registrarse
        </button>
      </form>
    </div>
  </div>
</section>
