<section class="bg-gray-50 min-h-screen flex items-center justify-center">
  <!-- Contenedor del registro -->
  <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5">
    <!-- Aca va el form -->
    <div class="md:w-1/2 px-8">
      <h2 class="font-bold text-2xl text-slate-800 text-center">Registro</h2>
      <form
        id="formregister"
        (ngSubmit)="this.onSubmit()"
        class="flex flex-col gap-4"
        #formregister="ngForm"
      >
        <!-- Nombre -->
        <label class="mt-5">Nombre</label>
        <input
          type="text"
          name="nombre"
          id="nombre"
          class="p-2 rounded-xl border w-full"
          placeholder="Nombre"
          required
          [(ngModel)]="nombre"
          #nombreCntrl="ngModel"
          [ngClass]="{
            'border-red-500 bg-red-50': nombreCntrl.invalid && nombreCntrl.touched,
            'border-gray-300': !nombreCntrl.touched,
            'border-green-500 bg-green-50': nombreCntrl.valid && nombreCntrl.touched
          }"
        />
        <label
          *ngIf="nombreCntrl.errors?.['required'] && nombreCntrl.touched"
          for="nombre"
          class="text-red-500 text-sm"
          >Tiene que colocar su nombre.</label
        >

        <!-- Apellido -->
        <label class="mt-5">Apellido</label>
        <input
          type="text"
          name="apellido"
          id="apellido"
          class="p-2 rounded-xl border w-full"
          placeholder="Apellido"
          required
          [(ngModel)]="apellido"
          #apellidoCntrl="ngModel"
          [ngClass]="{
            'border-red-500 bg-red-50': apellidoCntrl.invalid && apellidoCntrl.touched,
            'border-gray-300': !apellidoCntrl.touched,
            'border-green-500 bg-green-50': apellidoCntrl.valid && apellidoCntrl.touched
          }"
        />
        <label
          *ngIf="apellidoCntrl.errors?.['required'] && apellidoCntrl.touched"
          for="apellido"
          class="text-red-500 text-sm"
          >Tiene que colocar su apellido.</label
        >

        <!-- Email -->
        <label class="mt-5">Email</label>
        <input
          type="text"
          name="email"
          id="email"
          class="p-2 rounded-xl border w-full"
          placeholder="emilio.rodriguez@example.com"
          email
          required
          [(ngModel)]="email"
          #emailCntrl="ngModel"
          [ngClass]="{
            'border-red-500 bg-red-50': emailCntrl.invalid && emailCntrl.touched,
            'border-gray-300': !emailCntrl.touched,
            'border-green-500 bg-green-50': emailCntrl.valid && emailCntrl.touched
          }"
        />
        <label
          *ngIf="emailCntrl.errors?.['required'] && emailCntrl.touched"
          for="email"
          class="text-red-500 text-sm"
          >Tiene que colocar el email.</label
        >
        <label
          *ngIf="emailCntrl.errors?.['email']"
          for="email"
          class="text-red-500 text-sm"
          >Tiene que colocar un email valido.</label
        >

        <!-- Teléfono -->
        <label class="mt-5">Teléfono</label>
        <input
          type="text"
          name="telefono"
          id="telefono"
          class="p-2 rounded-xl border w-full"
          placeholder="099471882"
          required
          [(ngModel)]="telefono"
          #telefonoCntrl="ngModel"
          [ngClass]="{
            'border-red-500 bg-red-50': telefonoCntrl.invalid && telefonoCntrl.touched,
            'border-gray-300': !telefonoCntrl.touched,
            'border-green-500 bg-green-50': telefonoCntrl.valid && telefonoCntrl.touched
          }"
        />
        <label
          *ngIf="telefonoCntrl.errors?.['required'] && telefonoCntrl.touched"
          for="telefono"
          class="text-red-500 text-sm"
          >Tiene que colocar su teléfono.</label
        >

        <!-- Calle -->
        <label class="mt-5">Calle</label>
        <input
          type="text"
          name="calle"
          id="calle"
          class="p-2 rounded-xl border w-full"
          placeholder="Calle"
          required
          [(ngModel)]="calle"
          #calleCntrl="ngModel"
          [ngClass]="{
            'border-red-500 bg-red-50': calleCntrl.invalid && calleCntrl.touched,
            'border-gray-300': !calleCntrl.touched,
            'border-green-500 bg-green-50': calleCntrl.valid && calleCntrl.touched
          }"
        />
        <label
          *ngIf="calleCntrl.errors?.['required'] && calleCntrl.touched"
          for="calle"
          class="text-red-500 text-sm"
          >Tiene que colocar su calle.</label
        >

        <!-- Número -->
        <label class="mt-5">Número</label>
        <input
          type="text"
          name="numero"
          id="numero"
          class="p-2 rounded-xl border w-full"
          placeholder="123"
          required
          [(ngModel)]="numero"
          #numeroCntrl="ngModel"
          [ngClass]="{
            'border-red-500 bg-red-50': numeroCntrl.invalid && numeroCntrl.touched,
            'border-gray-300': !numeroCntrl.touched,
            'border-green-500 bg-green-50': numeroCntrl.valid && numeroCntrl.touched
          }"
        />
        <label
          *ngIf="numeroCntrl.errors?.['required'] && numeroCntrl.touched"
          for="numero"
          class="text-red-500 text-sm"
          >Tiene que colocar su número.</label
        >

        <!-- Apto -->
        <label class="mt-5">Apto</label>
        <input
          type="text"
          name="apto"
          id="apto"
          class="p-2 rounded-xl border w-full"
          placeholder="A11"
          required
          [(ngModel)]="apto"
          #aptoCntrl="ngModel"
          [ngClass]="{
            'border-red-500 bg-red-50': aptoCntrl.invalid && aptoCntrl.touched,
            'border-gray-300': !aptoCntrl.touched,
            'border-green-500 bg-green-50': aptoCntrl.valid && aptoCntrl.touched
          }"
        />
        <label
          *ngIf="aptoCntrl.errors?.['required'] && aptoCntrl.touched"
          for="apto"
          class="text-red-500 text-sm"
          >Tiene que colocar su apto.</label
        >

        <!-- Contraseña -->
        <label class="mt-5">Contraseña</label>
        <input
          type="password"
          name="contraseña"
          id="contraseña"
          placeholder="Contraseña123!"
          class="p-2 rounded-xl border w-full"
          minlength="5"
          maxlength="20"
          required
          [(ngModel)]="password"
          #passControl="ngModel"
          [ngClass]="{
            'border-red-500 bg-red-50' : passControl.invalid && passControl.touched,
            'border-gray-300' : !passControl.touched,
            'border-green-500 bg-green-50' : passControl.valid && passControl.touched
          }"
        />
        <label
          *ngIf="passControl.errors?.['required'] && passControl.touched"
          class="text-red-500 text-sm"
          >Necesita ingresar su contraseña</label
        >
        <label
          *ngIf="passControl.errors?.['minlength'] && passControl.touched"
          class="text-red-500 text-sm"
          >Su contraseña debe ser más larga</label
        >
        <label
          *ngIf="passControl.errors?.['maxlength'] && passControl.touched"
          class="text-red-500 text-sm"
          >Su contraseña debe ser más corta</label
        >

        <!-- Confirmar Contraseña -->
        <label class="mt-5">Confirmar Contraseña</label>
        <input
          type="password"
          name="confirmarContrasena"
          id="confirmarContrasena"
          placeholder="Contraseña123!"
          class="p-2 rounded-xl border w-full"
          minlength="5"
          maxlength="20"
          required
          [(ngModel)]="confirmarContrasena"
          #confirmarPassControl="ngModel"
          [ngClass]="{
          'border-red-500 bg-red-50' : confirmarPassControl.invalid && confirmarPassControl.touched,
          'border-gray-300' : !confirmarPassControl.touched,
          'border-green-500 bg-green-50' : confirmarPassControl.valid && confirmarPassControl.touched
        }"
        />
        <label
          *ngIf="confirmarPassControl.errors?.['required'] && confirmarPassControl.touched"
          class="text-red-500 text-sm"
          >Necesita confirmar su contraseña</label
        >
        <label
          *ngIf="confirmarPassControl.errors?.['minlength'] && confirmarPassControl.touched"
          class="text-red-500 text-sm"
          >Su contraseña debe ser más larga</label
        >
        <label
          *ngIf="confirmarPassControl.errors?.['maxlength'] && confirmarPassControl.touched"
          class="text-red-500 text-sm"
          >Su contraseña debe ser más corta</label
        >

        <button
          type="submit"
          [disabled]="formregister.invalid"
          id="boton"
          class="bg-slate-800 rounded-xl text-white py-2 hover:scale-110 duration-300"
        >
          Registrarse
        </button>
      </form>
      <!-- Divisor -->
      <div class="mt-8 grid grid-cols-3 items-center text-gray-500">
        <hr class="border-gray-500" />
        <p class="text-center text-xl">O</p>
        <hr class="border-gray-500" />
      </div>
      <button
        type="submit"
        id="boton"
        class="text-slate-800 rounded-xl py-2 bg-white w-full mt-5 flex justify-center items-center text-sm hover:scale-110 duration-300"
      >
        <img
          src="assets/icons8-google-logo-48.png"
          width="20px"
          height="25px"
          class="mr-3"
        />
        Registrarse con Google
      </button>
      <hr class="border-gray-300 mt-4" />
      <div class="text-sm flex justify-between items-center mt-3">
        <p>¿Ya tienes una cuenta?</p>
        <button
          class="py-2 px-5 text-slate-800 bg-white rounded-xl hover:scale-110 duration-300"
          (click)="redirectToLogin()"
        >
          Iniciar Sesión
        </button>
      </div>
    </div>
    <!-- Logo :) -->
    <div class="w-1/2 md:block hidden">
      <img
        class="rounded-2xl w-full h-full"
        src="assets/logo.jpeg"
        alt="Logo"
      />
    </div>
  </div>
</section>
