<!-- Modal de agregar al carrito, se muestra solo cuando isOpen es verdadero -->
<div *ngIf="isOpen" class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50">
  <!-- Contenedor del contenido del modal -->
  <div class="bg-white w-96 p-6 rounded-lg shadow-lg">
    <!-- Encabezado del modal con el nombre del producto y botón de cierre -->
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-semibold text-gray-600">{{ product.nombre }}</h2>
      <button (click)="close()" class="text-gray-500 hover:text-gray-700">
        &times;
        <!-- Ícono de cierre -->
      </button>
    </div>
    <!-- Descripción del producto -->
    <p class="text-gray-600">{{ product.descripcion }}</p>
    <!-- Precio del producto -->
    <p class="text-lg font-bold mt-4 text-gray-600">${{ product.precio_unidad }}</p>
    <!-- Sección para ajustar la cantidad -->
    <div class="mt-4">
      <label for="quantity-input" class="block mb-2 text-sm font-medium text-gray-600">
        Unidades:
      </label>
      <div class="relative flex items-center max-w-[8rem]">
        <!-- Botón para disminuir la cantidad -->
        <button (click)="decreaseQuantity()"
          class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-8 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
          <svg class="w-2 h-2 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 18 2">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
          </svg>
        </button>
        <!-- Campo de entrada para mostrar la cantidad -->
        <input type="text" [(ngModel)]="quantity"
          class="bg-gray-50 h-8 border-x-0 border-gray-300 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="10" required readonly />
        <!-- Botón para aumentar la cantidad -->
        <button (click)="increaseQuantity()"
          class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-8 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
          <svg class="w-2 h-2 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 1v16M1 9h16" />
          </svg>
        </button>
      </div>
    </div>
    <!-- Sección para añadir una nota, se muestra solo si showNote es verdadero -->
    <div class="mt-4" *ngIf="showNote">
      <label class="text-sm text-gray-500">¿Querés aclarar algo?</label>
      <textarea [(ngModel)]="note" class="w-full p-2 text-sm border border-gray-300 rounded-md resize-none text-black"
        rows="3" maxlength="200" placeholder="Notas para el chef" (input)="validarIndicaciones()"></textarea>
      <!-- Mostrar advertencia si se supera el límite -->
      <p *ngIf="excesoIndicaciones" class="text-sm text-red-500 mt-1">
        La nota no puede exceder los 200 caracteres.
      </p>
      <!-- Mostrar contador dinámico de caracteres restantes -->
      <p class="text-sm text-gray-500 mt-1">
        {{ 200 - note.length }} caracteres restantes
      </p>
    </div>
    <!-- Botón para agregar el producto al pedido -->
    <button (click)="addToCart()" [ngClass]="{
        'bg-green-600 hover:bg-green-700': actualizar,
        'bg-blue-700 hover:bg-blue-800': !actualizar,
      }" class="w-full text-white py-2 mt-4 rounded-full flex items-center justify-between px-4">
      <span class="flex items-center w-full">
        <span class="w-6 h-6 flex items-center justify-center text-sm">
          {{ quantity }}
        </span>
        <span class="flex-grow text-center">
          {{ actualizar ? "Actualizar Pedido" : "Agregar a mi Pedido" }}
        </span>
        <span>${{ product.precio_unidad * quantity }}</span>
      </span>
    </button>
  </div>
</div>