<!-- Componente de la barra de navegación -->
<app-navbar></app-navbar>

<div class="flex justify-center">
  <div
    class="grid grid-cols-1 gap-4 pb-40 w-full max-w-4xl overflow-y-auto max-h-screen [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
  >
    <div
      class="bg-white p-6 rounded-lg shadow-lg flex items-center justify-between mb-8"
      *ngFor="let pedido of historial"
    >
      <div class="flex-1">
        <h2 class="text-lg font-semibold text-gray-900">{{pedido.nombre}}</h2>
        <div class="flex items-end justify-between w-full">
          <span class="text-xl font-bold text-gray-900">
            ${{ pedido.importe_total }}
          </span>

          <div class="flex gap-4">
            <button
              (click)="verPedido(pedido.id_pedido)"
              class="bg-green-500 text-white px-3 py-2 rounded-md hover:bg-blue-800 transition-all flex items-center justify-center"
            >
              Ver detalle del pedido
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
