<app-navbar></app-navbar>
<main class="max-w-7xl mx-auto p-6">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  >
    <div
      class="bg-white p-4 rounded-lg shadow-md"
      *ngFor="let producto of productos"
    >
      <!--<img
        [src]="producto.foto"
        alt="Product Image"
        class="w-full h-48 object-cover rounded-md"
      />-->
      <h2 class="mt-2 text-lg font-semibold text-gray-800">
        {{ producto.nombre }}
      </h2>
      <p class="mt-1 text-gray-600">{{ producto.descripcion }}</p>
      <div class="mt-3 flex justify-between items-center">
        <span class="text-xl font-bold text-gray-900"
          >${{ producto.precio_unidad }}</span
        >
        <button
          class="bg-blue-600 text-white px-3 py-1 rounded-md hover:bg-blue-700"
        >
          Agregar al Carrito
        </button>
        <button
          class="bg-red-600 text-white px-3 py-1 rounded-md hover:bg-red-700"
          *ngIf="this.isAdmin==true"
        >
          Eliminar producto
        </button>
        <button
          *ngIf="this.isAdmin==true"
          class="bg-yellow-600 text-white px-3 py-1 rounded-md hover:bg-yellow-700"
        >
          Editar producto
        </button>
      </div>
    </div>
  </div>
</main>
