server {
    listen 80;
    listen [::]:80;
    server_name localhost;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    ssl_certificate /etc/nginx/certs/ucu.crt;
    ssl_certificate_key /etc/nginx/certs/ucu.key;
    server_name localhost;

    location / {
    proxy_pass http://frontend:80;
    }
    location /backend {
    rewrite ^/backend(.*)$ $1 break;
    proxy_pass http://backend:3000;
    }
}