<app-navbar></app-navbar>
<div class="items-center min-h-screen">

  <img src="/assets/logo.jpeg" alt="Product Image" class="h-48 object-cover rounded-md mx-auto" />
  <h2 class="mt-2 text-lg font-semibold text-gray-800 text-center">
    {{ producto.nombre }}
  </h2>
  <p class="text-center text-black">{{producto.descripcion}}</p>
  <button
    class="bg-blue-900 text-white px-5 py-2 rounded-md hover:bg-blue-700 duration-300 flex items-center mx-auto mt-4">
    Agregar al Carrito
  </button>
</div>