<app-navbar></app-navbar>
<div class="items-center min-h-screen p-4 max-w-sm mx-auto">

  <img *ngIf="producto.foto==false" src="/assets/logo.jpeg" alt="Product Image"
    class="w-full h-48 object-cover rounded-md" />
  <img *ngIf="producto.foto==true" src="https://localhost/backend/Resources/img/productos/{{producto.id_producto}}.jpg"
    alt="Product Image" class="w-full h-48 object-cover rounded-md" />
  <div class="mt-4 space-y-2">
    <h2 class="mt-2 text-lg font-semibold text-gray-800 text-center">
      {{ producto.nombre }}
    </h2>
    <h1 class="mt-2 text-lg font-semibold text-gray-800 text-center">
      {{ producto.precio_unidad }}$
    </h1>
    <p class="text-center text-black">{{producto.descripcion}}</p>
    <button
      class="bg-blue-900 text-white px-5 py-2 rounded-md hover:bg-blue-700 duration-300 flex items-center mx-auto mt-4">
      Agregar al Carrito
    </button>
  </div>
</div>